/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

ui-view {
  height: inherit;
}

.gridster {
  width: 100%;
}

.gridster .gridster-item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #004756;
  background: #ffffff;
}

.md-button.md-icon-button.menubtn {
  margin-top: 6px;
}

.muppet-list .md-button {
  color: inherit;
  text-align: left;
  width: 100%;
}

.muppet-list .selected {
  color: #03a9f4;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 4px 16px;
  vertical-align: middle;
  width: 48px;
}

.gridster md-icon {
  width: 50%;
  height: 50%; }
.gridster md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridster .s64 {
  font-size: 64px; }
.gridster .s32 {
  font-size: 48px; }
.gridster md-icon.fa {
  display: block;
  padding-left: 0; }
.gridster md-icon.s32 span {
  padding-left: 8px; }
.gridster md-grid-list {
  margin: 8px; }
.gridster .gray {
  background: #f5f5f5; }
.gridster .green {
  background: #b9f6ca; }
.gridster .yellow {
  background: #ffff8d; }
.gridster .blue {
  background: #84ffff; }
.gridster .darkBlue {
  background: #80d8ff; }
.gridster .deepBlue {
  background: #448aff; }
.gridster .purple {
  background: #b388ff; }
.gridster .lightPurple {
  background: #8c9eff; }
.gridster .red {
  background: #ff8a80; }
.gridster .pink {
  background: #ff80ab; }
.gridster md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridster md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridster md-grid-tile md-grid-tile-header {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridster md-grid-tile-header figcaption {
  width: 100%; }
.gridster md-grid-tile-header figcaption h3 {
  margin: 0;
  font-weight: 700;
  text-align: center; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
